@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  height: 100vh;
  background-color: #9dc7dd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardPrincipal{
  background-color: #79b0cc;
  height: 700px;
  width: 350px;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px;
}

img{
  max-width: 80%;
  max-height: 80%;
}


.cardPrincipal .ubicacion{
  margin: 5px;
  margin-top: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  font-size: 30px;
  font-weight: 550;
  
}

.cardPrincipal .fecha{
  margin: 5px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  font-size: 20px;
  font-weight: 500;
}

.cardPrincipal .temperatura{
  margin: 5px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  font-size: 40px;
  font-weight: 600;
}

.cardPrincipal .tiempo{
  margin: 5px;
  font-size: 22px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.cardPrincipal .humedad{
  margin: 5px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 550;
}

.cardPrincipal .viento{
  margin: 5px;
  margin-bottom: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;



  font-size: 20px;
  font-weight: 550;

}
